body{


  background-color: #232323;
  font-family: "Montserrat";

}
.square{

  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float:left;
  margin: 1.66%;
  border-radius:2rem;

}


#container{

  width: 600px;
  margin: 0 auto;
}

h1{


  color: white;
  text-align: center;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1rem 0;
}


#message{
  color:black;
}

#stripe{

  text-align: center;
  background-color: white;

}


.selected{
  background-color: steelblue;
}
#displayRgb{

  font-size: 200%;
}
button{

  border:none;
  background: none;
  text-transform: uppercase;
  height:100%;
  padding: 1rem;
}

button:hover{

  background: steelblue;
}
